/* Basic styling */
.chat-container {
    background-color: whitesmoke;
    width: 100%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    
}

/* Styles for chat message container */
.chat-messages {
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

/* Styles for sent messages */
.sent-message {
    background-color: #DCF8C6;
    padding: 8px;
    margin: 4px 0;
    border-radius: 10px 10px 0px 10px;
    align-self: flex-end;
    max-width: 70%;
    margin-right: 10px;
}

/* Styles for received messages */
.received-message {
    /* background-color: #E8E8E8; */
    background-color: #DCF8C6;
    padding: 8px;
    margin: 4px 0;
    border-radius: 10px 10px 10px 0px;
    align-self: flex-start;
    max-width: 70%;
    margin-left: 10px;
}





.message {
    background-color: #f1f0f0;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    word-wrap: break-word;
}

.message.sent {
    background-color: aquamarine;
    align-self: flex-end;
    width: fit-content;
    border-radius: 15px;

}

.message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
}

.message-input input[type="text"] {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.message-input button {
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.notification-header{
    padding: 8px 15px;
    border: none;
    background-color:hsla(9, 100%, 64%, 0.5);
}
.dataTables_wrapper{
    overflow-x: scroll;
}
